*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

form{
    padding-top: 40px;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 300px;
    height: 400px;
    background-color: darkgray;
    text-align: center;
}

div{
    margin-bottom: 15px;
}

form input[type="submit"]{
    width: 80px;
}

select{
    width: 173px;
}